<div class="container">
  <div class="row">
    <div class="mx-auto col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
      <h1 class="p-4 mx-auto">About</h1>
      <h5 class="pb-4 mx-auto text-truncate">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </h5>
      <%= image_tag "holly-stratton-XTHa-47HjjI-unsplash", class: "img-fluid", name: "UnsplashのHolly Strattonが撮影した写真", style: "max-width: 60%;" %>
    </div>
  </div>
</div>
