<div class="container">
  <div class="row">
    <div class="col-1 my-4"></div>
    <div class="col-11 my-4">
      <div class="image-background">
        <div class="image-overlay">
          <p>
            ようこそ、ながのCAKEへ!<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
    </div>
    <div class="col-1 my-4"></div>
    <div class="col-11 my-4">
      <h2>新着商品</h2>
    </div>
  </div>
</div>